# Question 1:
How to import pandas and check its version.

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

# Question 2
How to create a series from a numpy array?

In [3]:
import pandas as pd 
import numpy as np 

arr = np.array([1,2,3,4,5])
s = pd.Series(arr)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

# Question 3:
How to convert the index of a series into a column of a dataframe.

In [4]:
s = pd.Series(['a', 'b', 'c', 'd', 'e'])
print("index of series s:- {}".format(s.index))

df = pd.DataFrame([s],columns=s.index) 
 
print("columns of dataframe df:- {}".format(df.columns))
df

index of series s:- RangeIndex(start=0, stop=5, step=1)
columns of dataframe df:- RangeIndex(start=0, stop=5, step=1)

   0  1  2  3  4
0  a  b  c  d  e

# Question 4:
Write the code to list all the datasets available in seaborn library.<br>
Load the 'mpg' dataset<br>
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [10]:
import seaborn as sns
datasets_list=sns.get_dataset_names()
print("datasets available in seaborn library are :- \n",datasets_list)
MPG_Data = sns.load_dataset('mpg')
MPG_Data.head()

datasets available in seaborn library are :-
 ['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Question 5:
Which country origin cars are a part of this dataset?

In [11]:
MPG_Data.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Question 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [12]:
MPG_Data[MPG_Data['origin'] == 'usa']
MPG_Data[MPG_Data.origin == 'usa']
MPG_Data[MPG_Data.origin.eq('usa')]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10